.autosugestion-box {
  border: 1px solid #DDD;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  margin: 0 150px;
  padding: 0 20px;
  position: relative;
}

.autosugestion-box::before,
.autosugestion-box::after {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  transform: rotate(270deg);
  width: 0;
}

.autosugestion-box::before {
  border-color: transparent transparent transparent #CCC;
  border-width: 17px;
  left: 50.2%;
  top: -34px;
}

.autosugestion-box::after {
  border-color: transparent transparent transparent #FFF;
  border-width: 16px;
  left: 50.3%;
  top: -32px;
}
