.search-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	margin-bottom: 30px;
}
.search-form {
	display: flex;
	width: 50%;
}

.search-bar {
	border: 1px solid #CCC;
	border-radius: 2px;
	height: 50px;
	outline: 0;
	padding: 10px;
	transition: all 0.8s;
	width: 100%;

	&::placholder {
		color: #CCC;
	}

	&:hover, &:focus,
	&:hover + .bf-search-button,
	&:focus + .bf-search-button {
		box-shadow: 0 10px 16px -6px rgba(102, 102, 102, 0.2);
	}
	&:hover > .icon, &:focus .icon {
		fill: #483d8b;
	}

}

.bf-search-button {
	background: {
		color: #DDD;
	}
	border: none;
	border:{
		bottom: 1px solid #CCC;
		right: 1px solid #CCC;
		top: 1px solid #CCC;
	}
	width: 50px;

	.icon {
		fill: #999;
		height: 20px;
		width: 20px;
	}
}
